@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.bg-light  {
    background-color: #4a4a4a !important;
}
header .bg-light:hover {
    color: #f0b6b6;
}

header .navbar-light .navbar-nav .nav-link{
color: #fff;
font-size: 0.75em;
    letter-spacing: 0.06rem;
    padding-right: 0.55rem;
    padding-left: 0.55rem;
}

header .navbar-light .navbar-nav .nav-link.active{
    font-size: 0.75em;
    color: #ff2bf1;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #ff2bf1;
}
/*style for best seller*/
#best-seller  .col .card a {
    color: #000000;
    text-decoration:none ;
    font-size: 0.20rem;
    font-weight: normal;
    font-family: 'PT Sans',"sans-serif";
    letter-spacing: 0.5px;
}
header .top-header{
    margin-top: 0px;
    border-bottom: inset;
    border-radius: 2px;
}
#best-seller  .col .card a:hover{
color: #f28083;
}

#best-seller  .col .card .card-text{
    color: rgba(0, 0, 0, 0.17);
}

#best-seller  .col .card .card-text .fa-star:hover{
    color: rgba(49, 152, 23, 0.87);
}

#best-seller  .col .card .price{
    color: #ff1f2b;
    font-weight: bold;
    font-size: 0.9rem;

}

#best-seller  .col .card .price del{
    margin-right: 0.4rem;
    color: #ff1f2b;
    font-size: 0.85rem;
    font-weight: bold;

}
header .top-header{
    background-color: #4e4e4e;
} 
header .top-header:hover{
    background-color: #e1ee26;
} 
header .top-header .container{
    padding: 8px 2px 8px 2px ;
} 
header .top-header .container .row .col-sm-2 .wc-msg{
    font-weight: 600;
    color: black;
    font-size: 12px;
    font-style: italic;
    padding: 8px 1px 8px 1px;
}
header .top-header .container .row .col-sm-2 .wc-msg:hover{
    font-weight: 600;
    color: black;
    font-size: 20px;
    font-style: italic;
    padding: 8px 1px 8px 1px;
}

header .top-header .container .row .col-sm-1 .language .form-select{
    font-weight: 600;
    padding: 8px 1px 8px 1px;
    font-size: 12px;
    color:black;
    
}

header .top-header .container .row .col-sm-1 .language .form-select:hover{
    font-weight: 600;
    padding: 8px 0.5px 8px 0.5px;
    font-size: 20px;
    color:black;

}

header .top-header .container .row .col-sm-1 .language .form-select{
    font-weight: 600;
    padding: 8px 1px 8px 1px;
    font-size: 12px;
    color:black;

}

header .top-header .container .row .col-sm-1 .currency .form-select:hover{
    font-weight: 600;
    padding: 8px 1px 8px 1px;
    font-size: 20px;
    color:#080808;
  
    }

header .top-header .container .row .justify-content-end a.nav-link{
    display: inline-block;
    color: black;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 11px 10px 11px 10px;
    border-left: 1px solid #efefef;
    
}

header .top-header .container .row .justify-content-end a.nav-link:hover{
    font-size:20px;
    color: #3179ff;
    
    
}

header .top-header .container .row .justify-content-end a.nav-link .fa-solid {
    display: inline-block;
    color: white;  
}

header .top-header .container .row .justify-content-end a.nav-link .fa-solid:hover {
    display: inline-block;
    color: rgb(9, 25, 246);  
}
header .second-top-header .container .row .block-company-wrapper .block-company-inner li a{
    padding: 10px 7px 7px 7px;
    height: 15px;
    display: block;
    bottom: -1px;
    z-index: 1000;
    position: relative;
    color: #858585;
    border-top: solid 1px transparent;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
    position: relative;
    text-decoration: none;
}
.search-box {
    right: 0px;
    background: #f6f6f6;
    border-radius: 0px;
    margin: 23px 0px 15px 0px;
    border: 1px #d7d7d7 solid;
    width: 35%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    float: right;
}
#search {
    margin: 0;
    width: 80%;
    font-size: 13px;
    height: 38px;
    color: #999;
    padding: 0 20px;
    background: none;
    outline: none;
    border: none;
}
.search-btn-bg {
    cursor: pointer;
    display: inline-block;
    background: none !important;
    position: absolute;
    outline: none;
    box-shadow: none;
    border: none !important;
    height: 40px;
    right: 0px;
    font-size: 18px;
    border-left: 1px #eaeaea solid !important;
    padding-left: 14px;
    width: 45px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.search-btn-bg .glyphicon-search:before {
    font-size: 14px;
    color: #c3c4c4;
}
.search-btn-bg:hover {
    color: #cf3341;
}
.glyphicon-search:before {
    font-size: 12px;
}
.search-btn-bg {
    position: absolute;
    padding: 6px 3px;
}
.fa-magnifying-glass{
    color: dimgrey;
}