@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.bg-light  {
    background-color: #4a4a4a !important;
}

header .navbar-light .navbar-nav .nav-link{
color: #fff;
font-size: 0.75em;
    letter-spacing: 0.06rem;
    padding-right: 0.55rem;
    padding-left: 0.55rem;
}
header  .nav-link{
   text-decoration: none;
    display: inline-block;
    color: #858585;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 10px 10px 10px 10px;
}

header .top-header .form-select{
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    background-color: #fef6ff;
    background-image:none ;
    border: none;
    border-radius: 0;
    transition: none;
}

header .navbar-light .navbar-nav .nav-link.active{
    font-size: 0.75em;
    color: #ff2bf1;
}
header .navbar-light .navbar-nav .nav-link:hover{
    color: #ff2bf1;
}
/*style for best seller*/
#best-seller  .col .card a {
    color: #000000;
    text-decoration:none ;
    font-size: 0.20rem;
    font-weight: normal;
    font-family: 'PT Sans',"sans-serif";
    letter-spacing: 0.5px;
}

#best-seller  .col .card a:hover{
color: #f28083;
}

#best-seller  .col .card .card-text{
    color: rgba(0, 0, 0, 0.17);
}

#best-seller  .col .card .card-text .fa-star:hover{
    color: rgba(255, 250, 10, 0.87);
}

#best-seller  .col .card .price{
    color: #ff1f2b;
    font-weight: bold;
    font-size: 0.9rem;

}

#best-seller  .col .card .price del{
    margin-right: 0.4rem;
    color: #ff1f2b;
    font-size: 0.85rem;
    font-weight: bold;

}
