@import url(bootstrap.min.css);

.bg-light  {
    background-color: #fffefd !important;
}
header .navbar-light .navbar-nav .nav-link{
color: #194a0d;
font-size: 0.69em;
}

header .navbar-light .navbar-nav .nav-link.active{
    color: #ff1f2b;
}
